.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 15px;
  flex-direction: column;
}

.header-container h1 {
  font-weight: 500;
  font-size: 40px;
  margin: 0 !important;
}
.header-container h3 {
  font-weight: 200;
  font-size: 32px;
  margin: 0 !important;
}

textarea {
  font-family: "Josefin Sans", sans-serif;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: solid;
}
